
/Python Loader/.vs/Python Loader/FileContentIndex
/PythonLoader/obj/Release
/PythonLoader/obj/Debug
/PythonLoader/obj/Debug
/PythonLoader/obj/Debug
/PythonLoader/bin/Debug
/PythonLoader/Debug
/PythonLoader/.vs
/PythonLoader/.vs
/PythonLoader/Release
/PythonLoader/.vs
/PythonLoader/.vs
/PythonLoader/.vs
/PythonLoader/.vs/ProjectEvaluation
/PythonLoader/.vs
/PythonLoader/PythonVersions/Python3.12.4
/PythonLoader/EmbeddedPython/Python3.12.4
/PythonLoader/obj/Debug
/python3.12.4
/PythonLoader/.vs
/PythonLoader/.vs
myapp_log.txt
/dvd/__pycache__
/dvd/__pycache__
myapp_log.txt
